<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><span>dash dash</span> SAVE</span>
      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu button" *ngIf="isAuthenticated">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
